body{
    text-align: center;
    background: linear-gradient(-45deg,rgb(35, 20, 46),
    rgb(80, 107, 104),
    rgb(35, 20, 46)) fixed;
   
    position: sticky;
}

.container{
    width:1000px;
    margin: auto;
    display: block;
}

.paragraph{
    background-color: white;
    border-radius: 5px;
    border: 2px hidden;
    margin: 15px 0 0 0;
    position: sticky;
}

h1{
    font-family: "Monotype Corsiva";
    text-align: center;
    font-size: 40px;
    position: sticky;
    margin: 0px;
    color: white;

}

ul{
    list-style-type: none;
    text-align: center;
    margin: 0px;
    padding: 0px;
    border-radius: 5px;
    border: hidden;
    overflow: hidden;
    background-color: darkslategrey;
    position: sticky;
}

li{
    float: left;
    position: sticky;
}

li a{
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 14px 16px;
    position: sticky;

}

li a:hover{
    background-color: black;
    position: sticky;
}



h2{
    padding: 5px;
    font-family: "Monotype Corsiva";
    position: sticky;
    color: white;
}

p{
    padding: 5px; 
    position: sticky;
}

iframe{ 
    align-content: center;
    position: sticky;
    

}

.formBody{
    background-color: white; 
    border: 2px solid hidden;
    border-radius: 5px;
    padding: 10px;
    margin: 2px;
    position: sticky;
}

h3{
    margin: 5px;
    position: sticky;
    color: white;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    position: sticky;
}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    position: sticky;
}

button{
    position: sticky;
    border-radius: 5px;
    font-size: 15px;
    margin: 2px;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    position: sticky;
}

footer{
    display: block;
    position: sticky;
    bottom: 0px;
    text-align: center;
    margin: 0px;
    border: hidden;
    background-color: darkslategrey;
    border-radius: 5px;
    padding: 5px;
    width: 1000px;
    color: white;
    
}



/* ---- particles.js container ---- */

#particles-js{
    position: fixed ;
    margin: auto;
    width: 100%;
    height: 100%;
    
    
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    
    
  }